<%= form_with(model: move) do |form| %>
  <% if move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(move.errors.count, "error") %> prohibited this move from being saved:</h2>

      <ul>
        <% move.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.text_field :game_id %>
  </div>

  <div class="field">
    <%= form.label :accepted %>
    <%= form.check_box :accepted %>
  </div>

  <div class="field">
    <%= form.label :currentsetup %>
    <%= form.text_field :currentsetup %>
  </div>

  <div class="field">
    <%= form.label :setupifaccepted %>
    <%= form.text_field :setupifaccepted %>
  </div>

  <div class="field">
    <%= form.label :decidingteam %>
    <%= form.text_field :decidingteam %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
